{% extends 'base.html.twig' %}

{% block body %}
    <h3>Edit Task</h3>
    <br>   
                {{ form_start(delete_form) }}
                <input class="btn btn-danger btn-sm float-right" type="submit" value="Delete this task">
            {{ form_end(delete_form) }}
            <br>    
            <br>    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-sm btn-primary float-right" type="submit" value="Save changes" />
    {{ form_end(edit_form) }}

            <a class="btn btn-sm btn-warning" href="{{ path('todo_index') }}">Back to the list</a>


{% endblock %}
