{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="header">My Task</h3>             
    <a class="btn btn-sm btn-primary float-right" href="{{ path('todo_new') }}">Create a new todo</a>
    <br>
    <br>

    <table class="table table-stripe">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if todos is empty %}
                    <tr>
                        <td colspan="4"> <center>No record found!</center></td>
                    </tr>
            {% endif %}
        {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{% if todo.created %}{{ todo.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-sm btn-primary" href="{{ path('todo_show', { 'id': todo.id }) }}">show</a>
                        <a class="btn btn-sm btn-secondary" href="{{ path('todo_edit', { 'id': todo.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
