{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="header">Create new task</h3>
    <br>   

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-sm btn-primary float-right" type="submit" value="Create" />
    {{ form_end(form) }}

            <a class="btn btn-sm btn-warning" href="{{ path('todo_index') }}">Back to the list</a>

{% endblock %}
