{% extends 'base.html.twig' %}

{% block body %}


    <div  class="btn-group float-right" role="group" aria-label="Basic example">
                <a class="btn btn-sm btn-warning" href="{{ path('todo_index') }}">Back to the list</a>
            <a class="btn btn-sm btn-primary" href="{{ path('todo_edit', { 'id': todo.id }) }}">Edit</a>
        </div>
        <br>    
        <br> 
        <span class="text-align:right"><b>Created</b> {% if todo.created %}{{ todo.created|date('Y-m-d H:i:s') }}{% endif %}  </span>
        <h3 class="header">
            {{ todo.title }}
        </h3>
        <p> 
            {{ todo.description }}
        </p>




                
              
               

                <br>    
                <br>    
            {{ form_start(delete_form) }}
                <input class="btn btn-sm btn-danger float-right" type="submit" value="Delete">
            {{ form_end(delete_form) }}

{% endblock %}

