body
{
  color: #3d3d3d;
  background: #E9EBF0;
}

table
{
  /*background: white;*/

     -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width:  100%;
}


table>thead>tr>th {
    vertical-align: bottom;
     border-bottom: 1px solid #ddd !important;
      font-size: 12pt;
  font-weight: normal;
  padding:10px 20px !important;

  background: #fbfbfb;

}


label
{
	font-size: 	11pt;
}

textarea
{
	height: 300px;
}

p
{
	background: 	#ccc;
	padding:10px;
	min-height: 	200px;
}